<div
style="display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: aquamarine;">
<mat-card>
    <mat-card-header><h1>Iniciar sesion</h1></mat-card-header>

    <mat-card-content>
        <form>
            <mat-form-field class="w-full mb-3" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
                <mat-hint>ingresa correo electonico</mat-hint>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="w-full mb-3" appearance="outline">
                <mat-label>contraseña</mat-label>
                <input matInput>
                <mat-hint>ingresa correo electonico</mat-hint>
                <mat-icon matSuffix>key</mat-icon>
            </mat-form-field>
            <mat-form-field class="w-full mb-3" appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select>
                    <mat-option value="ADMIN">ADMIN</mat-option>
                    <mat-option value="USER">USER</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>

</div>